.app-wrapper-container {
    background-color: rgb(46, 45, 45);
    background-size: cover;
    height: 150vh;
    width: 150vw;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
  }
