.hoverButton {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1030;
  background-color: black;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 25px;
}
.navbarHover {
  position: fixed;
  top: 35px;
  right: 0px;
}
/* When the element is transitioning in, set the opacity to 1 and scale back to its original size */
.navbarHover-enter {
  position: fixed;
  opacity: 0;
  transform: scale(0.9);
}

.navbarHover-enter-active {
  position: fixed;
  top: 35px;
  right: 0px;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

/* When the element is transitioning out, set the opacity to 0 and scale it down */
.navbarHover-exit {
  opacity: 1;
}

.navbarHover-exit-active {
  position: fixed;
  top: 35px;
  right: 0px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
