.link-button {
    margin-left: 2em;
    border: 2px solid black;
    border-radius: 50px;
    font-size: large;
    color: rgb(219, 219, 219);
    background-color: gray;
}

.link-button:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    opacity: 0.9;
    transform: translateY(-4px);
}