.project-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px 20px;
  margin-bottom: 20px; /* Adjust the value as per your preference */
}

/* On mouse-over, add a deeper shadow */
.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

