.skills-container {
  padding: 20px 20px;
  display: flex; 
  flex-wrap: wrap; /*  Allow skill cards to wrap to the next line */
  justify-content: center; /* Center the skill cards horizontally */
  border-radius: 50px;
}
.skill-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-right: 40px;
  margin: 10px;
  text-align: center;
  border: 1px solid #080808;
  border-radius: 50px;
}


.skill-card:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid black;
    background-color: rgb(46, 45, 45);
    opacity: 0.9;
    transform: translateY(-4px);
}


.skills-title {
    font-size: 3em;
    font-weight: bold;
    justify-content: center;
}
