.project-demos{
/*     background-image: url("../../../pictures/under-construction.jpg");
     background-size: cover;  */
     justify-content: left;
    background-color: rgb(46, 45, 45);
    height: 150VH;

}

.demo-header {
    margin-left: 2em;
}


.video-container-wrapper {

    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }

  .project-video {
    position: relative;
    width: 100%;
    border-radius: 12px;
  }
  
  .video-player {
    width: 100%;
    height: auto;
  }

  .back-button {
    margin: 2em;
  }
  