.modal {
  position: fixed;
  top: 10%;
  right: 10%;
  min-height: 600px;
  border-radius: 20px;

  background-color: rgb(46, 45, 45);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
}

.modal__row {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  text-align: left;
}

.modal__description {
  margin: 20px 0px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.modal__close-wrapper {
  all: unset;
  position: absolute;
  cursor: pointer;
}

.modal__close-icon {
  width: 40px;
  height: 40px;
}

.project-logo__parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-count: 2;
  column-gap: 20px;
  max-height: 300px;
  overflow-x: auto;
}

.project-logo {
  margin: 20px;
  width: 40px;
  height: 40px;
}

.project-logo__name {
  padding-top: 10px;
}

.project-logo__container {
  display: flex;
  margin-bottom: 10px;
}

/*Diff styles depending on screen size*/
@media only screen {
  .modal {
    width: 60%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .modal__close-wrapper {
    right: -20px;
    top: -30px;
  }

  .modal__close-icon {
    width: 35px;
    height: 34px;
    columns: #cacaca;
  }
}

@media only screen and (min-width: 1281px) {
  .modal {
    width: 40%;
    height: 20%;
    max-width: 1800px;
    justify-content: space-between;
    align-items: center;
    flex: row;
    padding: 30px;
  }

  .modal__close-wrapper {
    right: 10px;
    top: 10px;
  }

  .modal__close-icon {
    color: #737373;
  }
}
