.app-inner-wrapper {
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.title-wrapper {
    border-bottom: 1px solid #bfc0c0;
}
.title {
    text-align: left;
    margin-left: 1em;  
}
.name {
  font-size: 3em;
   
}
.job-title {
    font-size: 1.5em;
}
.footer {
    margin-top: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


  
  
