.wrapper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.wrapper-container::before {
    content: ''; /* Empty content */
    position: absolute;
    top: -100;
    left: -100;
    width: 100%; /* Full width of the container */
    height: 1px;
    background-color: #BFC0C0;
}

.name {
    font-size: 3em;
}

.job-title{ 
    font-size: 1.5em;
}

#top, #bottom {
    flex: 1;
    background-size: cover;
    background-position: center;
}

.App {
    text-align: center;
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 45, 45);
    /* background-image: url("../../pictures/watercolor-bg.jpg"); */
    background-size: cover;
  }

  .info-card {
    justify-content: center;
    text-align: left;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .title h1 h4 {
    display: inline-block;
  }
  
  .education-container {
    padding: 20px 16px;
    justify-content: center;
    text-align: left;
    
  }
  .education-container li {
    text-align: left;
  }
  

  .skills-container {
    border-top: 1px solid #BFC0C0;
  }
  
  .skills-title {
    font-size: 3em;
    text-align: left;
    margin-left: 1em;
    
  }

  /* Fifth Button */

#project-link {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #project-link a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #BFC0C0;
    position: absolute;
    transition: all .3s ease-Out;
  }
  
  #project-link:hover #translate {
    left: 0;
  }
  
  #project-link:hover a {
    color: #2D3142;
  }

  /* Button Styles */

.project-button {
    display: inline-flex;
    height: 40px;
    width: 175px;
    border: 2px solid #BFC0C0;
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  a {
    color: #BFC0C0;
    text-decoration: none;
    letter-spacing: 1px;
  }


  
  
