.link-button {
    background-color: rgb(46, 45, 45);
    border: 2px solid #bfc0c0;
    color: #bfc0c0;
    margin: 2rem;
    height: 6rem;
    width: 6rem;
    padding: 1.5rem;
    border-radius: 2rem;
  }
  
  .link-button:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    opacity: 0.9;
    transform: translateY(-4px);
  }
  
  .link-icon {
    height: 75%;
    width: 75%;
  
  }
  
  .link-button-wrapper {
    display: flex;
    align-items: center;
  }
  